section.news-section
	section.news-section-header
		img(src='/images/' + logo, style='height:33px')
	ul
		li(style='cursor:pointer', data-article=main.article).main-news
			section
				section(style='position:relative').hover-board
					img(src=main.images.thumb)
					h1.heading3=main.title
		-each news, i in others
			-_class = i > 4 ? "hide" : ""
				li.news-item(class=_class)
					-var img = news.images.sizes ? news.images.sizes[3].source : ""
						div(data-article=news.article, data-img=img).row.sub-news
							div.span5
								span.title=news.title
							div.span1
								img(src=news.images.thumb)
	section.toggle-display(data-action='expand')
		span އިތުރު ސުރުޚީތައް

